/**
 * 主样式，这里设置页面通用样式
 */

initialize()

@require './css/font/iconfont.css'
@require './css/config'

html,
body
    min-height: 100%
    font-size: 62.5%

body
    -webkit-touch-callout: none
    -webkit-user-select: none
    // background: $test-color
    -webkit-tap-highlight-color: transparent
    -webkit-text-size-adjust: 100%
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    -webkit-font-smoothing: antialiased
    background-color: #fff

.container
    max-width: 960px
    position: relative
    display: block
    margin: 0 auto
    padding: 10px

a {
    color: #000;
    text-decoration: none;
}

.items
    max-width: 970px
    clearfix()
